.checked-textfield { /* Glyphicon settings */
    -fx-background-repeat: no-repeat;
    -fx-background-size: 15px;
    -fx-background-position: 5px center;
    -fx-padding: 4px 8px 4px 25px;
    -fx-background-image: url("/bayern/steinbrecher/checkedElements/report/next.png");
}
